page-home {
    //.insere-image{
    //    background-image: url(../assets/images/berga.jpg);
    //    background-repeat: no-repeat;
    //    background-position: center;
    //    background-size: contain;
    //}
    
    .custom-title {
        padding-top: 5em;
        padding-bottom: 2.5em
    }
}