page-home {

   ion-content {
        background: #e8e8e8 !important;
    }
 
    .logo{
    
        widht: auto;
        margin: auto;
        display: block;
        max-width: 75%;
        padding-top:20px;
    }
    
    .textos{
        color: #000;
        background: none;
        text-align: ceter;
        a{
        color: #000;
        }
    }
    
    .botao{
        border-radius: 30px !important;
    }
    
    
    .ion-item{
    border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    color: #488aff;
    background-color: #488aff;
    opacity: 1;
    font-size: 0.9em;
        
    }
    
}/*
page-home {
    .insere-image{
        background-image: url(../assets/images/logo-in-iot.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .custom-title {
        padding-top: 5em;
        padding-bottom: 10em
    }
}*/